[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
tensorflow = "*"
jupyter = "*"
matplotlib = "*"
pillow = "*"
h5py = "*"
faiss = "*"
sistemka = {editable = true,git = "https://github.com/Sistemka/Sistemka.git"}
requests = "*"
pandas = "*"
scipy = "*"
sklearn = "*"

[requires]
python_version = "3.7"
